:root {
--common-radius: 12px;
--card-font-size: 12px;
--card-line-height: 16px;
--card-section-gap: 4px;
--card-width: 50%;
--color-link: hsl(240, 100%, 47%);
--color-link-visited: hsl(271, 68%, 32%);
}

[hidden] { display: none !important; }

a[href]
{
color: var(--color-link);
}

a:visited
{
color: var(--color-link-visited);
}

.leaflet-popup-content
{
margin-left: 10px !important;
margin-right: 20px !important;
margin-top: 2px !important;
margin-bottom: 0px !important;
}

.link_no_decoration
{
text-decoration: none;
}

.link_never_visited:visited
{
color: var(--color-link);
}

#orgurls
{
display: inline-flex;
flex-wrap: wrap;
padding: 0;
margin: 0;
margin-bottom: var(--card-section-gap);
list-style: none;
}

#orgurls > li:not([hidden])
{
margin-right: 10px;
}

.markerupcoming
{
fill: hsl(230, 69%, 50%);
fill-opacity: 1.0;

stroke-width: 8px;
}

.markerpast
{
fill: hsl(215, 59%, 53%);
fill-opacity: 1.0;

stroke-width: 8px;
}

.markerhighlighted
{
fill: hsl(240, 87%, 18%) !important;
}

summary
{
cursor: pointer;
}

#sticky
{
position: sticky;
top: 0;
background: white;
}

#slideshow
{
text-align: center;

margin: auto;
/*width: 50%;*/
}

#infopic
{
display: flex;
gap: 8px;
z-index: 1;
padding-bottom: 8px;
/*
lh = var(--card-line-height)
mb = var(--card-section-gap)
ip = inner vertical padding of #info
ib = inner vertical border of #info
x < 375
(#place: lh * 3 + mb) + (#location: lh + mb) + (#links_maps: lh + mb) +
(#links_event: lh + mb) + (#links_org: lh * 3 + mb) + (#dateall: lh * 3 + mb) + (.eventdescription: lh * 2) + ip + ib
375 < x < 768
(#place: lh * 3 + mb) + (#location: lh + mb) + (#links_maps: lh + mb) +
(#links_event: lh + mb) + (#links_org: lh * 2 + mb) + (#dateall: lh * 2 + mb) + (.eventdescription: lh * 2) + ip + ib
x > 768
(#place: lh + mb) + (#location: lh + mb) + (#links_maps: lh + mb) +
(#links_event: lh + mb) + (#links_org: lh + mb) + (#dateall: lh + mb) + (.eventdescription: lh) + ip + ib
*/
height: 266px;
}

@media only screen and (min-width: 375px)
{
    #infopic
    {
    height: 234px;
    }
}

@media only screen and (min-width: 768px)
{
    #infopic
    {
    height: 154px;
    }
}

#map
{
position:relative;
height: 120px;
border-radius: var(--common-radius);
}

#info
{
flex: 1 1 var(--card-width);
padding: 8px;
font-size: var(--card-font-size);
line-height: var(--card-line-height);
border: 1px solid lightgray;
border-radius: var(--common-radius);
}

#info #place
{
margin: 0;
margin-bottom: var(--card-section-gap);
}

.placename
{
font-size: 14px;
font-weight: 700;
}

.placedate
{
font-size: 10px;
color: gray;
}

.placelocation
{
margin: 0;
margin-bottom: var(--card-section-gap);
}

#info #links_maps,
#info #links_event,
#info #links_org
{
margin-bottom: var(--card-section-gap);
}

.eventdescription
{
min-height: calc(var(--card-line-height) * 2);
}

.eventdescription p
{
margin: 0;
}

#picbox
{
position: relative;
flex: 1 1 calc(100% - var(--card-width));
background: aliceblue;
}

#picbox img
{
width: 100%;
height: 100%;
object-fit: cover;
}

#picbox_overlay
{
position: absolute;
right: 0;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: right;
padding: 0 5px;
font-size: 0.75rem;
line-height: 1.2;
color: hsl(197, 100%, 33%);
background: hsla(0, 0%, 100%, 0.9);
}

#picbox_overlay > a
{
color: hsl(197, 100%, 33%);
}

#picbox_overlay > a:visited
{
color: hsl(197, 100%, 33%);
}

.containersticky
{
position: sticky;
top: 0
}

footer, footer >* a:link, footer >* a:visited
{
color:gray!important;
opacity: 0.7;
font-size: 90%;
}

#campaigntitle
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
background-color: yellow !important;
}

#campaigntitle > a:link, #campaigntitle > a:visited {
    color: rgb(0, 131, 214) !important;
}

#campaigndescription
{
margin: auto;
text-align: center; color: rgb(0, 131, 214) !important;
}

#indextitle
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}
#indextitle > a:link, #indextitle > a:visited {
    color: rgb(0, 131, 214) !important;
}

#indexdescription
{
text-align: center; color: rgb(0, 131, 214) !important;
width: 200px !important;

margin: auto;
width: 50%;
}

#indexdescription > * img
{
max-width:100%;
max-height:100%;
height:auto;
}

.eventsnoneerror
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: gray !important;
}

.campaignsnoneerror
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: gray !important;
}

.organizersnoneerror
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: gray !important;
}

#allorganizers > li, #allevents > li, #allcampaigns > li, #upcomingeventsincountry > li, #upcomingeventseverywhere > li
{
    margin-bottom: 10px;
}

.dateactive
{
background-color: yellow;
}
.dateinactive
{
/*background-color: gray;*/
}

#eventphoto
{
/*border-top-right-radius: var(--common-radius);
border-bottom-right-radius: var(--common-radius);*/
border-radius: var(--common-radius);
}

#slideshow_global_toggle+label::before
{
content: "Start";
}
#slideshow_global_toggle:checked+label::before
{
content: "Stop";
}

.visibilityhidden
{
visibility : hidden;
}

#container
{
margin-bottom: 8px;
}

#infoBox
{
flex:20;
border:1px solid blue;
display:none;
}

.center
{
text-align:center
}

.header
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}

.country
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}
#orgurls, #allcampaigns, #allevents, #allorganizers, .events  
{
list-style-type: none;
padding: 0px
}

.campaignname
{
font-size: 0.9em !important;
color: lightgray !important;
}

.event,
a.event,
.campaign,
a.campaign,
a.organizer,
.organizer
{
display: block;
min-height: 40px;
padding: 10px;
font-size: 18px;
line-height: 22px;
color: white;
text-align: center;
text-decoration: none;
background: rgba(0, 131, 216, 0.7);
border-radius: var(--common-radius);
}

.event:visited,
.campaign:visited,
.organizer:visited
{
color: white;
}

.campaign>a:link,.campaign>a:visited,.campaign>a:hover,.campaign>a:active,
.event>a:link, .event>a:visited,.event>a:hover, .event>a:active,
.organizer>a:link, .organizer>a:visited,.organizer>a:hover, .organizer>a:active
{
text-decoration:none;
color: inherit
}

.eventactive a
{
background-color: rgba(0, 131, 216, 1.0);
}

.eventinactive a
{
background-color: rgba(0, 131, 216, 0.7);
}

.campaignactive a
{
background-color: rgba(0, 131, 216, 1.0);
}

.campaigninactive a
{
background-color: rgba(0, 131, 216, 0.7);
}

.subtitle
{
font-size: 0.9em;
color: lightgray;
}

@media screen and (min-width: 800px) {
    #outer-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #container {
        /*display: flex;
        flex-direction: row;
        height: 400px;*/
    }

    #map {
        height: 200px;
        /*border: 1px solid red;*/
    }
}
